{% extends '::base.html.twig' %}
	{% block body %}
		<h3>¡Tu Registro a sido completado!</h3>
		<div>
			<p>Estimado/a {{ name }},</p>
			<p>Gracias por registrarte en Cview, a partir de este momento podrà empezar a regsitrar sus
			tiendas.</p>
			<p>Utilize su nombre de usuario : {{ username }} y su clave de acceso : {{ pswrd }} para acceder a 
			su panel de control.</p>
		</div>
	{% endblock %}