{% extends 'CviewPrincipalBundle:Default:layout.html.twig' %}

{% block body %}
		<!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Cview</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"><a href="#">Inicio</a></li>
                <li><a href="#about">¿Quienes somos?</a></li>
                <li><a href="#contact">Contacto</a></li>
                <li><a href="#infoShop">¿Eres una tienda? Informate</a></li>
              </ul>
	          <ul class="nav pull-right">
    			<a class="btn btn-info" data-toggle="modal" href="#Register" >Registra tu tienda</a>
				{% if loged == true %}
					<a class="btn btn-primary" data-toggle="modal" href="{{path('cview_principal_controlpanel', {'part':'Tiendas'})}}">Entrar</a>
				{% else %}
    				<a class="btn btn-primary" data-toggle="modal" href="#Loggin">Login</a>
				{% endif %}		
    		  </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->



    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{ asset('bundles/cview/img/sliders/slider_4.jpg')}}" alt="">
          <div class="container">
            <div class="carousel-caption">
              <!--h1>¿Eres una tienda?</h1>
              < p class="lead">Cview te proporciona la posibilidad de dar a conocer tus productos para celiacos de forma gratuita para que puedas llegar a mas publico.</p>
              <a class="btn btn-large btn-primary">Registrate Ahora</a-->
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{{ asset('bundles/cview/img/sliders/slider_5.jpg')}}" alt="">
          <div class="container">
            <div class="carousel-caption">
              <!--h1>Another example headline.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Learn more</a-->
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{{ asset('bundles/cview/img/sliders/slider_6.jpg')}}" alt="">
          <div class="container">
            <div class="carousel-caption">
              <!--h1>One more for good measure.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Browse gallery</a-->
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->

	<!-- Register modal
	================================================== -->
	<div class="modal" id="Register" name="Register" style="display:none;">
	    <div class="modal-header">
	    	<a class="close" data-dismiss="modal">×</a>
	    	<h3>Registrate en Cview</h3>
	    </div>
	    <div class="modal-body">
	    	<form class="well form-horizontal">
		    	<div class="control-group">
		    		<label class="control-label" for="inputCif">CIF</label>
		    		<div class="controls">
		    			<input id="inputCif" type="text" class="span3" placeholder="Entra tu Cif.."> *
		    			<span class="help-inline">Máximo 9 caracteres</span>
		    		</div>
		    	</div>
		    	<div class="control-group">
		    		<label class="control-label" for="inputName">Nombre</label>
		    		<div class="controls">
		    			<input id="inputName" type="text" class="span3" placeholder="Entra tu Nombre.."> *
		    		</div>
		    	</div>
		    	<div class="control-group">
		    		<label class="control-label" for="inputLastName">Apellidos</label>
		    		<div class="controls">
		    			<input id="inputLastName" type="text" class="span3" placeholder="Entra tus Apellidos.."> *
		    		</div>
		    	</div>
		    	<div class="control-group">
		    		<label class="control-label" for="inputEmail">Email</label>
		    		<div class="controls">
		    			<input id="inputEmail" type="email" class="span3" placeholder="Entra tu Email.."> *
		    		</div>
		    	</div>
			</form>
	    </div>
	    <div class="modal-footer">
	    	<a href="#" data-dismiss="modal" class="btn">Cancelar</a>
	    	<a href="javascript:registerUsr();" class="btn btn-primary">Registrarme</a>
	    </div>
	</div>
	<!-- Loggin modal
	================================================== -->
	<div class="modal" id="Loggin" name="Loggin" style="display:none;">
	    <div class="modal-header">
	    	<a class="close" data-dismiss="modal">×</a>
	    	<h3>Login:</h3>
	    </div>
	    <div class="modal-body">
	    	<form class="well form-horizontal" method="post" action="{{path('cview_principal_login')}}">
			    <div class="control-group">
		    		<label class="control-label" for="inputUsr">Usuario</label>
		    		<div class="controls">
		    			<input id="inputUsr" name="usr_id" type="text" class="span3" placeholder="Entra tu Usuario.."> *
		    		</div>
		    	</div>
		    	<div class="control-group">
		    		<label class="control-label" for="inputPswrd">Contraseña</label>
		    		<div class="controls">
		    			<input id="inputPswrd" name="pswrd_id"  type="password" class="span3" placeholder="Entra tu Contraseña.."> *
		    		</div>
		    	</div>
		    	<a href="#" data-dismiss="modal" class="btn btn-danger">Cancelar</a>
		    	<input type="submit" class="btn btn-success" value="Entrar"></input>
			</form>
	    </div>
	    <div class="modal-footer">
	    	{% if error|default('') != '' %}
	    		<p class="alert alert-danger" style="text-align:center">{{ error }}</p>
	    	{% endif %}
	    </div>
	</div>
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row" id="about">
        <div class="span4">
          <img class="img-circle" src="{{ asset('bundles/cview/img/dessarrollador.jpg')}}"/>
          <h2>Desarrollador</h2>
          <p>Eduard Coll Vila es un desarrollador junior. Que inspirado en experiencias personales
           un día se propone invertir su tiempo en desarrollar una plataforma que facilite
           la relación entre vendedores y compradores de productos para gente con celiaquía.
          </p>
          <p><a class="btn" href="http://www.linkedin.com/pub/eduard-coll-vila/65/495/9b4">Visitame en Link</a></p>
           
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" src="{{ asset('bundles/cview/img/favicon.png')}}"/>
          <h2>Marca</h2>
          <p>Cellview ampara bajo la marca hockloWorks, pero actualmente se encuentra buscando colaboradores y patrocinadores.</p>
          <p><a class="btn" href="{{ asset('bundles/cview/apk/Celiview_0_2.apk')}}">Descargate la aplicación para Android</a></p-->
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" src="{{ asset('bundles/cview/img/patrocinador.jpg')}}"/>
          <h2>Con el patrocinio</h2>
          <p>La Salle Gràcia: una escuela para enseñar, educar, formar.
			 Con una experiencia centenaria en el barrio de Gràcia de Barcelona, 
			 hacemos una apuesta por un proyecto educativo común basado en una oferta 
			 de valores cristianos al servicio de una formación de calidad y que prepara para la vida.</p>
          <p><a class="btn" href="http://www.lasallegracia.org/">Visita la web de la Salle Gràcia</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette" id="infoShop">
        <img class="featurette-image pull-right img-circle" src="{{ asset('bundles/cview/img/date-a-conocer.jpg')}}">
        <h2 class="featurette-heading">Patrocinamos tus tiendas. <span class="muted"> Damos a conocer tu negocio.</span></h2>
        <p class="lead">Recibirás 2 registros de tienda de forma gratuita al registrarte ahora mismo. ¿Aún estas leyendo esto?
        ¿Qué estas esperando por darte a conocer?</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-left img-circle" src="{{ asset('bundles/cview/img/productos.jpg')}}">
        <h2 class="featurette-heading">Claro que si, muestra tus productos. <span class="muted">Todo el mundo sabrà que vendes.</span></h2>
        <p class="lead">De esta forma te darás a conocer a un publico al que antes no llegabas.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette" id="contact">
        <img class="featurette-image pull-right" src="{{ asset('bundles/cview/img/twitter.jpg')}}">
        <h2 class="featurette-heading">¿Quieres más información? <span class="muted">No dudes en contactar con nosotros.</span></h2>
        <p class="lead">Tlfn: 644326542</p>
        <p class="lead">Skype: hocklo13</p>
        <p class="lead">Muy pronto nos encontrarás en facebook y twitter</p>
        
      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Volver arriba</a></p>
        <p>&copy; 2013 hockloWorks, Inc. &middot; <!--a href="#">Privacy</a--> &middot; <!-- a href="#">Terms</a--></p>
      </footer>

    </div><!-- /.container -->
{% endblock %}


