{% extends '::base.html.twig' %}

{% block stylesheets %}
	
	{# stylesheets output='css/mystyle.css' filter='cssrewrite, yui_css' debug=false
		'bundles/cview/css/myStyle/dashboard.css'
		'bundles/cview/css/bootstrap.css'
		'bundles/cview/css/bootstrap-responsive.css' 
		'bundles/cview/css/fix-style.css'
		
		%}
	<link href="{{ asset_url }}" rel="stylesheet" type="text/css"/>
	{% endstylesheets #}

			<link href="{{ asset('bundles/cview/css/myStyle/dashboard.css')}}" rel="stylesheet" type="text/css"/>
			<link href="{{ asset('bundles/cview/css/bootstrap.css')}}" rel="stylesheet" type="text/css"/>
			<link href="{{ asset('bundles/cview/css/bootstrap-responsive.css')}}" rel="stylesheet" type="text/css"/>	
			<link href="{{ asset('bundles/cview/css/fix-style.css')}}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block body %}
{% endblock %}
{#		'bundles/cview/js/angular/app.js'		'bundles/cview/js/angular/angular-google-maps.js'
		'bundles/cview/js/angular/controller/example-controller.js'
		
#}
{% block javascripts %}
	{# javascripts output='js/jquerybootstrap.js' filter="yui_js" debug=true
		'bundles/cview/js/jquery/jquery.js'
		'bundles/cview/bootstrap/bootstrap.js'
		'bundles/cview/js/bootstrap/bootstrap-transition.js'
		'bundles/cview/js/bootstrap/bootstrap-modal.js'
		'bundles/cview/js/bootstrap/bootstrap-alert.js'
		'bundles/cview/js/bootstrap/bootstrap-button.js'
		'bundles/cview/js/bootstrap/bootstrap-carousel.js'
		'bundles/cview/js/bootstrap/bootstrap-collapse.js'
		'bundles/cview/js/bootstrap/bootstrap-dropdown.js'
		'bundles/cview/js/bootstrap/bootstrap-popover.js'
		'bundles/cview/js/bootstrap/bootstrap-scrollspy.js'
		'bundles/cview/js/bootstrap/bootstrap-tab.js'
		'bundles/cview/js/bootstrap/bootstrap-tooltip.js'	
		'bundles/cview/js/bootstrap/bootstrap-typeahead.js'
		'bundles/cview/js/bootstrap/holder.js'
		'bundles/cview/js/myscripts.js'
	 %}	
	 
	 <script src="{{ asset_url }}"></script>
	{% endjavascripts #}

	 		<script src="{{ asset('bundles/cview/js/jquery/jquery.js') }}"></script>
			<script src="{{ asset('bundles/cview/bootstrap/bootstrap.js') }}"></script>
			<script src="{{ asset('bundles/cview/js/bootstrap/bootstrap-transition.js') }}"></script>
			<script src="{{ asset('bundles/cview/js/bootstrap/bootstrap-modal.js') }}"></script>
			<script src="{{ asset('bundles/cview/js/bootstrap/bootstrap-alert.js') }}"></script>
			<script src="{{ asset('bundles/cview/js/bootstrap/bootstrap-button.js') }}"></script>
			<script src="{{ asset('bundles/cview/js/bootstrap/bootstrap-carousel.js') }}"></script>
			<script src="{{ asset('bundles/cview/js/bootstrap/bootstrap-collapse.js') }}"></script>
			<script src="{{ asset('bundles/cview/js/bootstrap/bootstrap-dropdown.js') }}"></script>
			<script src="{{ asset('bundles/cview/js/bootstrap/bootstrap-popover.js') }}"></script>
			<script src="{{ asset('bundles/cview/js/bootstrap/bootstrap-scrollspy.js') }}"></script>
			<script src="{{ asset('bundles/cview/js/bootstrap/bootstrap-tab.js') }}"></script>
			<script src="{{ asset('bundles/cview/js/bootstrap/bootstrap-tooltip.js') }}"></script>
			<script src="{{ asset('bundles/cview/js/bootstrap/bootstrap-typeahead.js') }}"></script>
			<script src="{{ asset('bundles/cview/js/bootstrap/holder.js') }}"></script>
			<script src="{{ asset('bundles/cview/js/myscripts.js') }}"></script>

{% endblock %}
