<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Cview{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/cview/img/favicon128.png') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
