
<div class="container">
	<form class="well form-horizontal" method="post" enctype="multipart/form-data" action="{{path('cview_principal_controlpanel_insertShop')}}">
	<div class="row-fluid">
	{# ShopName #}
		<div class="control-group span6">
    		<label class="control-label" for="inputShopName">Nombre</label>
    		<div class="controls">
    			<input id="inputShopName" name="name" type="text" class="span11" placeholder="Entra el nombre de la tienda.." onKeyPress="return disableEnterKey(event)"> *
    		</div>
    	</div>
   	{# Phone #}
		<div class="control-group span6">
    		
    		<label class="control-label" for="inputShopCity">Ciudad</label>
    		<div class="controls">
    		    <input id="inputShopCity" name="city" type="text" class="span12" readonly="true"/>		
    		</div>
    	</div>
    </div>
    <div class="row-fluid">
    	<div class="control-group span6">
    		<label class="control-label" for="inputShopPhone">Telefono</label>
    		<div class="controls">
    			<input id="inputShopPhone" name="phone" type="tel" class="span11" placeholder="Entra el telefono de la tienda.." onKeyPress="return disableEnterKey(event)"> *
       		</div>
    	</div>
    	<div class="control-group span6">
    		<label class="control-label" for="inputShopProvince">Provincia</label>
    		<div class="controls">
    			<input id="inputShopProvince" name="province" type="tel" class="span12" readonly="true"/>
       		</div>
    	</div>
    </div>
    <div class="row-fluid">
    	<div class="control-group span6">
			<label class="control-label" for="inputShopLocation">Tu dirección</label>
			<div class="controls">
				<input id="inputShopLocation" name="direction" class="span11" type="text" onKeyPress="return disableEnterKey(event)" placeholder="Calle, Número, Ciudad" autocomplete="off"> *
			</div>
		</div>
	</div>
	<div class="row-fluid">
	    {# Description #}
		<div class="control-group span6">
	   		<label class="control-label" for="inputShopDescription">Descripción</label>
	   		<div class="controls">
	   			<textarea id="inputShopDescription" name="description" class="span11" placeholder="Entra una descripción de la tienda.."></textarea>
	   		</div> 
	   	</div>
	   	{# ShopImage #}
		<div class="control-group span6">
    		<label class="control-label" for="inputUpfile">
    			<img id="imgView" name="imgView" class="" src="{{ asset('bundles/cview/img/upload_product.png')}}" alt="Sube una imagen de tu producto" title="Sube una imagen de tu producto"/>
  
    		</label>
    		<div class="controls">
				<input name="upfile" id="upfile" type="file" class="span11"/>
				<label>Sube una imagen de tu Tienda.</label>
				<br/>
				<output id="preview" class="span9">
				</output>
    		</div>
    	</div>
    </div>
    
	<!-- Locations -->
	<input id="location_lat" type="hidden" name="lat"/>
	<input id="location_lng" type="hidden" name="lng"/>
	
	<hr/>
	<div class="row-fluid">
		<label class="offset1 span9">Si estás seguro que la información es correcta pulsa añadir</label>
		<input id="inputShopSubmit" type="submit" class="btn btn-success span2" value="Añadir"></input>
	</div>
	</form>
	<div class="row-fluid">
		{% include 'CviewPrincipalBundle:Status:status.html.twig' %}
	</div>
</div>

<!--script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvQ5K7RVlmBxNb4yl7IZNQsoFdFNnDJmk&sensor=true&libraries=places&language=es"></script-->
<script type="text/javascript">
 	function initialize() {
		/*
		  var mapOptions = {
 		    //center: new google.maps.LatLng(),
 		    zoom: 17,
 		    mapTypeId: google.maps.MapTypeId.ROADMAP
 		  };
 	 		  
 		  var map = new google.maps.Map(document.getElementById('map-canvas'),
 		    mapOptions);
 		 */ 
 		  var input = (document.getElementById('inputShopLocation'));
		  var options = {
			types: ['geocode'],
			componentRestrictions: {country: 'es'}
		  };
 		  var autocomplete = new google.maps.places.Autocomplete(input,options);
 		  //autocomplete.bindTo('bounds', map);
 		  //var infowindow = new google.maps.InfoWindow();
 		  /*
 		  var marker = new google.maps.Marker({
 		    map: map
 		  });
 		  */

 		  google.maps.event.addListener(autocomplete, 'place_changed', function() {
 		    //infowindow.close();
 		    //marker.setVisible(false);
 		    
 		    var place = autocomplete.getPlace();
 		    
 		   console.log(place.address_components);
 		 	
 		    if (!place.geometry) {
 		      // Inform the user that the place was not found and return.
 		      input.className = 'notfound';
 		      return;
 		    }
 		   
 		    // If the place has a geometry, then present it on a map.
 		    //if (place.geometry.viewport) {
 		      //map.fitBounds(place.geometry.viewport);
 		    //} else {
 		      //map.setCenter(place.geometry.location);
 		      //map.setZoom(17);  // Why 17? Because it looks good.
 		    //}
 		    /*
 		    marker.setIcon(({
 		      url: place.icon,
 		      size: new google.maps.Size(71, 71),
 		      origin: new google.maps.Point(0, 0),
 		      anchor: new google.maps.Point(17, 34),
 		      scaledSize: new google.maps.Size(35, 35)
 		    }));
 		    
 		    
 		    marker.setPosition(place.geometry.location);
 		    marker.setVisible(true);
			*/
 		    
  		  	$('#location_lat').val(place.geometry.location.lat());
		    $('#location_lng').val(place.geometry.location.lng());
			
		    $('#inputShopCity').val(place.address_components[1].short_name);
		    $('#inputShopProvince').val(place.address_components[2].long_name);
		    
		});
 		 
	 	}
 		
 		google.maps.event.addDomListener(window, 'load', initialize); 		 
</script>
<script>
  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object

    // Loop through the FileList and render image files as thumbnails.
    for (var i = 0, f; f = files[i]; i++) {

      // Only process image files.
      if (!f.type.match('image.*')) {
    	  alert('Debes seleccionar una imagen!!');
    	  document.getElementById('upfile').value = '';
        continue;
      }

      var reader = new FileReader();

      // Closure to capture the file information.
      reader.onload = (function(theFile) {
        return function(e) {
          // Render thumbnail.
          var span = '<img src="'+e.target.result+'" title="'+escape(theFile.name)+'"/>';
          document.getElementById('preview').innerHTML = span;
        };
      })(f);

      // Read in the image file as a data URL.
      reader.readAsDataURL(f);
    }
  }

  document.getElementById('upfile').addEventListener('change', handleFileSelect, false);
</script>

