{% extends 'CviewPrincipalBundle:Default:layout.html.twig' %}

{% block body %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvQ5K7RVlmBxNb4yl7IZNQsoFdFNnDJmk&sensor=true&libraries=places&language=es"></script>
	<div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      	<div class="container">
    		<div class="navbar navbar-inverse">
	    		<div class="navbar-inner">
		    		<a class="brand" href="{{ path('cview_principal_controlpanel', {'part':'Tiendas'}) }}" style="cursor:pointer;">Cview / Dashboard</a>
		    		<ul class="nav pull-left">
		    			<li><a id="aTiendas" href="{{ path('cview_principal_controlpanel', {'part':'Tiendas'}) }}" data-placement="bottom" data-toggle="tooltip" data-original-title="Tus Tiendas: {% render 'CviewApiBundle:Shopkeeper:getMyShops' %}/{% render 'CviewApiBundle:Shopkeeper:getMaxShops' %}">Tiendas</a></li>
		    			
		    			<!-- li><a href="{{ path('cview_principal_controlpanel', {'part':'Marcas'}) }}">Marcas</a></li-->
		    		</ul>
		    		<div class="nav-collapse">
		    			<ul class="nav pull-right">
		    				<li>
		    					<a href="{{ path('cview_principal_controlpanel', {'part':'Perfil'}) }}">Bienvenido {% render 'CviewApiBundle:Shopkeeper:getName' %}</a>
		    				</li>
		    				<li>
		    					<a href="{{ path('cview_principal_logout') }}"><i class="icon-off"></i>&nbsp;&nbsp;Logout</a>
		    				</li>
		    			</ul>
		    			
		    		</div>
		    	</div>
	    	</div>
	    	{% if part == 'Tiendas' %}
		    	{# Dashboard Content #}
		    	<ul class="nav nav-tabs" id="shopTabs">
		    		{% if insertShop | default(false) == true %}
			    	<li>
			    		<a data-toggle="tab" href="#addShop">Añade una tienda <i class="icon-plus"></i></a>
			    	</li>
			    	{% endif %}
			    	{% if myShops | default(null) != null %}
						{% for shop in myShops %} 
							<li>
			    				<a data-toggle="tab" href="#shop{{ shop.id }}">{{ shop.name }} <i class="icon-map-marker"></i></a>
			    			</li>
						{% endfor %}
					{% endif %}
			    </ul>
			    <div class="tab-content">
			    	{% if insertShop|default(false) == true %}
						<div class="tab-pane" id="addShop">{% include 'CviewPrincipalBundle:ShopControl:addShop.html.twig' %}</div>
					{% endif %}
					{% if myShops | default(null) != null %}
						{% for shop in myShops %} 
							<div class="tab-pane" id="shop{{ shop.id }}">{% include 'CviewPrincipalBundle:ShopControl:myShop.html.twig' %}</div>
						{% endfor %}
					{% endif %}
				</div>
	    	{% elseif part == 'Marcas' %}
		    	{# Brands Content #}
		    	<ul class="nav nav-tabs">
			    	<li class="active">
			    		<a href="#addBrand">Añade una marca <i class="icon-plus"></i></a>
			    	</li>
			    	{#For de tus tiendas
			    		<li><a href="#">...</a></li>
			    		<li><a href="#">...</a></li>
			    	 endFor#}
			    </ul>
			    <div class="tab-content">
					<div class="tab-pane active" id="addBrand">{% include 'CviewPrincipalBundle:ShopControl:addShop.html.twig' %}</div>
					{# For de tus tiendas 
						<div class="tab-pane" id="profile">...</div>
						<div class="tab-pane" id="messages">...</div>
						<div class="tab-pane" id="settings">...</div>
					 endFor #}
				</div>
			{% elseif part == 'Perfil' %}
		    	{# Wall Content #}
				{% include 'CviewPrincipalBundle:UserControl:modifyUser.html.twig' %}
	    	{% elseif part == 'Products' %}
	    		{# Products Content #}
	    		{% include 'CviewPrincipalBundle:ShopControl:myProducts.html.twig' %}
			{% endif %}	
    	</div>
    </div>
{% endblock %}