<div class="container">
	<div class="row-fluid">
		<div class"span12">
			<div class="span6">
				<div class="row-fluid">
					<h4 class="span12">Mis Productos</h4>
				</div>
				<div class="row-fluid" id="myProducts">
					{% if Products == null %}
						<div class="alert alert-info">Aún no has registrado ningún producto.</div>
					{% endif %}
					{% for product in Products %}
					<form id="formPro{{ product.id }}" method="post" action="{{path('cview_principal_controlpanel_updateProduct', {'id':product.id})}}">
						<div class="row-fluid well span12" style="margin-left:0px;">
							<div class="row-fluid">
								<img class="span2" src="{{asset('bundles/cview/img/products/'~product.Image)}}" ></img>
								<h5 class="offset1 span6">{{ product.name }}</h5><h5 class="span3">Precio : {{ product.price | default(0.0) }} €</h5>
							</div>
							<br/>
							<div class="row-fluid">
								<textarea name="description" class="span9">{{ product.description }}</textarea>
								<a onclick="document.getElementById('formPro{{ product.id }}').submit()" id="updateProd" name="updateProd" class="btn btn-success" style="vertical-align: top"><img type="button" src="{{ asset('bundles/cview/img/update_product.png') }}" alt="Actualizar Producto" title="Actualizar Producto"></img>
								</a>
								<a href="{{path('cview_principal_controlpanel_deleteProduct', {'id':product.id})}}" id="deleteProd" name="deleteProd" class="btn btn-danger" style="vertical-align: top"><img type="button" src="{{ asset('bundles/cview/img/delete_product.png') }}" alt="Eliminar Producto" title="Eliminar Producto"></img>
								</a>
							</div>
							<input id="id_prod" name="id_prod" type="hidden" value="{{ product.id }}"/>
						</div>
					</form>
					{% endfor %}
				</div>
			</div>
			<div class="span6">
				<div class="row-fluid">
					<h4 class="span12">Insertar un nuevo producto</h4>
				</div>
				<div class="row-fluid">
						<form class="well form-horizontal" method="post" enctype="multipart/form-data" action="{{path('cview_principal_controlpanel_insertProduct')}}">
							<div class="row-fluid">
								{# ProductName #}
								<div class="control-group span12">
						    		<label class="control-label" for="inputProdName">Nombre</label>
						    		<div class="controls">
						    			<input id="inputProdName" name="name" type="text" class="span11" placeholder="Entra el nombre del producto.." onKeyPress="return disableEnterKey(event)"/>
						    		</div>
						    	</div>
							</div>
							<div class="row-fluid">
								{# ProductDescription #}
								<div class="control-group span12">
						    		<label class="control-label" for="inputProdDes">Descripción</label>
						    		<div class="controls">
						    			<textarea id="inputProdDes" name="description" type="text" class="span11" placeholder="Entra una descripcion del producto.." onKeyPress="return disableEnterKey(event)"></textarea>
						    		</div>
						    	</div>
							</div>
							<div class="row-fluid">
								{# ProductPrice #}
								<div class="control-group span12">
						    		<label class="control-label" for="inputProdPrice">Precio</label>
						    		<div class="controls">
										<div class="input-append">
											<input id="inputProdPrice" name="price" class="span11" type="number"/>
											<span class="add-on">.00€</span>
										</div>
						    		</div>
						    	</div>
							</div>
							<div class="row-fluid">
								{# ProductImage #}
								<div class="control-group span12">
						    		<label class="control-label" for="upfile">
						    			<img id="imgView" name="imgView" class="" src="{{ asset('bundles/cview/img/upload_product.png')}}" alt="Sube una imagen de tu producto" title="Sube una imagen de tu producto"/>
						  
						    		</label>
						    		<div class="controls">
										<input name="upfile" id="upfile" type="file" class="span11"/>
										<label>Sube una imagen de tu producto.</label>
										<br/>
										<output id="preview" class="span9">
										</output>
						    		</div>
						    	</div>
							</div>
							<hr>
							<div class="row-fluid">
								<label class="offset1 span9">Si estás seguro que la información es correcta pulsa añadir</label>
								<input id="inputShopSubmit" type="submit" class="btn btn-success span2" value="Añadir"></input>
							</div>
							<input id="shop_id" name="shop_id" value="{{ Shop_id }}" type="hidden"/>
						</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		{% include 'CviewPrincipalBundle:Status:status.html.twig' %}
	</div>
</div>
	
<script>
  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object

    // Loop through the FileList and render image files as thumbnails.
    for (var i = 0, f; f = files[i]; i++) {

      // Only process image files.
      if (!f.type.match('image.*')) {
    	  alert('Debes seleccionar una imagen!!');
    	  document.getElementById('upfile').value = '';
        continue;
      }

      var reader = new FileReader();

      // Closure to capture the file information.
      reader.onload = (function(theFile) {
        return function(e) {
          // Render thumbnail.
          var span = '<img src="'+e.target.result+'" title="'+escape(theFile.name)+'"/>';
          document.getElementById('preview').innerHTML = span;
        };
      })(f);

      // Read in the image file as a data URL.
      reader.readAsDataURL(f);
    }
  }

  document.getElementById('upfile').addEventListener('change', handleFileSelect, false);
</script>
