
<div class="container">
		<form class="well form-horizontal" method="post" action="{{path('cview_principal_controlpanel_updateShop', {'id':shop.id})}}">
	<div class="row-fluid">
	{# ShopName #}
		<div class="control-group span6">
    		<label class="control-label" for="inputShopName">Nombre</label>
    		<div class="controls">
    			<input id="inputShopName" name="{{ shop.id }}name" type="text" class="span11" value="{{ shop.Name }}" onKeyPress="return disableEnterKey(event)">
    		</div>
    	</div>
   	{# Phone #}
		<div class="control-group span6">
    		
    		<label class="control-label" for="inputShopCity">Ciudad</label>
    		<div class="controls">
    		    <input id="inputShopCity" name="{{ shop.id }}city" type="text" value="{{ shop.City }}" class="span12" readonly="true"/>		
    		</div>
    	</div>
    </div>
    <div class="row-fluid">
    	<div class="control-group span6">
    		<label class="control-label" for="inputShopPhone">Telefono</label>
    		<div class="controls">
    			<input id="inputShopPhone" name="{{ shop.id }}phone" type="tel" class="span11" value="{{ shop.phone}}" onKeyPress="return disableEnterKey(event)">
       		</div>
    	</div>
    	<div class="control-group span6">
    		<label class="control-label" for="inputShopProvince">Provincia</label>
    		<div class="controls">
    			<input id="inputShopProvince" name="{{ shop.id }}province" type="text" value="{{ shop.City.Province }}" class="span12" readonly="true"/>
       		</div>
    	</div>
    </div>
    <div class="row-fluid">
    	<div class="control-group span6">
			<label class="control-label" for="inputShopLocation">Tu dirección</label>
			<div class="controls">
				<input id="inputShopLocation" name="{{ shop.id }}direction" class="span11" type="text" onKeyPress="return disableEnterKey(event)" value="{{ shop.Direction}}" autocomplete="off">
			</div>
		</div>
		<div class="control-group span6">
			<label class="control-label" for="inputShopProducts">Mis productos</label>
			<div class="controls">
				<a href="{{path('cview_principal_controlpanel_products', {'id':shop.id})}}" class="btn btn-info">Gestionarlos</a>
			</div>
		</div>
    </div>
    <div class="row-fluid">
    {# Description #}
		<div class="control-group span6">
    		<label class="control-label" for="inputShopDescription">Descripción</label>
    		<div class="controls">
    			<textarea id="inputShopDescription" name="{{ shop.id }}description" class="span11 shopDescription">{{ shop.Description }}</textarea>
    		</div>
    	</div>
    	{% if shop.Image!='' %}
		<img class="span6 shop-image" src="{{asset('bundles/cview/img/shops/'~shop.Image)}}" ></img>
		{% else %}
		<img class="span6 shop-image" src="{{asset('bundles/cview/img/shops/shop_not_found.png')}}" ></img>
		{% endif %}
		<!-- div id="map-canvas-shop" class="span6 map-canvas"></div-->
	</div>
	
	<hr/>
	<div class="row-fluid">
		<div class="alert alert-error span6">
			<label class="span9">Si estás seguro que quiere eliminar esta tienda pulsa eliminar</label>
			<a href="{{path('cview_principal_controlpanel_deleteShop', {'id':shop.id})}}" id="inputShopDelete" class="btn btn-danger offset1 span2">Eliminar</a>
		</div>
		<div class="alert alert-success span6">
			<label class="span9">Si estás seguro que la información es correcta pulsa añadir</label>
			<label class="span1"></label>
			<input id="inputShopSubmit" type="submit" class="btn btn-success span2" value="Actualizar" />
		</div>
	</div>
	</form>
	<div class="row-fluid">
		{% include 'CviewPrincipalBundle:Status:status.html.twig' %}
	</div>
</div>
<!--script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvQ5K7RVlmBxNb4yl7IZNQsoFdFNnDJmk&sensor=true&libraries=places&language=es"></script-->
<!--script type="text/javascript">
	  var center = new google.maps.LatLng({{ shop.Latitude }}, {{ shop.Longitude }});
	  var name = document.getElementById('inputShopName').value;
	  //var mapOptions = {
	  //  zoom: 17,
	  //  center: center,
	  //  mapTypeId: google.maps.MapTypeId.ROADMAP,
	   // draggable: false
	  }
	  //var map = new google.maps.Map(document.getElementById("map-canvas-shop"), mapOptions);

	  //var marker = new google.maps.Marker({
	  //		position: center,
	  //	    map: map,
	//	    title: name
	// });

     // marker.setVisible(true);
</script-->
<script type="text/javascript">
 	function initialize() {
		/*
		  var mapOptions = {
 		    //center: new google.maps.LatLng(),
 		    zoom: 17,
 		    mapTypeId: google.maps.MapTypeId.ROADMAP
 		  };
 	 		  
 		  var map = new google.maps.Map(document.getElementById('map-canvas'),
 		    mapOptions);
 		 */ 
 		  var input = (document.getElementById('inputShopLocation'));
		  var options = {
			types: ['geocode'],
			componentRestrictions: {country: 'es'}
		  };
 		  var autocomplete = new google.maps.places.Autocomplete(input,options);
 		  //autocomplete.bindTo('bounds', map);
 		  //var infowindow = new google.maps.InfoWindow();
 		  /*
 		  var marker = new google.maps.Marker({
 		    map: map
 		  });
 		  */

 		  google.maps.event.addListener(autocomplete, 'place_changed', function() {
 		    //infowindow.close();
 		    //marker.setVisible(false);
 		    
 		    var place = autocomplete.getPlace();
 		    
 		   console.log(place.address_components);
 		 	
 		    if (!place.geometry) {
 		      // Inform the user that the place was not found and return.
 		      input.className = 'notfound';
 		      return;
 		    }
 		   
 		    // If the place has a geometry, then present it on a map.
 		    //if (place.geometry.viewport) {
 		      //map.fitBounds(place.geometry.viewport);
 		    //} else {
 		      //map.setCenter(place.geometry.location);
 		      //map.setZoom(17);  // Why 17? Because it looks good.
 		    //}
 		    /*
 		    marker.setIcon(({
 		      url: place.icon,
 		      size: new google.maps.Size(71, 71),
 		      origin: new google.maps.Point(0, 0),
 		      anchor: new google.maps.Point(17, 34),
 		      scaledSize: new google.maps.Size(35, 35)
 		    }));
 		    
 		    
 		    marker.setPosition(place.geometry.location);
 		    marker.setVisible(true);
			*/
 		    
  		  	$('#location_lat').val(place.geometry.location.lat());
		    $('#location_lng').val(place.geometry.location.lng());
			
		    $('#inputShopCity').val(place.address_components[1].short_name);
		    $('#inputShopProvince').val(place.address_components[2].long_name);
		    
		});
 		 
	 	}
 		
 		google.maps.event.addDomListener(window, 'load', initialize); 		 
</script>
