{% if status|default(-1)!= -1 %}
	{% if status == 0 %}
		<div class="alert alert-error txtcntr"><p>Password de Confirmacion Incorrecto</p></div>
	{% endif %}
	{% if status == 1 %}
		<div class="alert alert-error txtcntr"><p>Los Passwords nuevos no coinciden.</p></div>
	{%  endif %}
	{% if status == 2 %}
		<div class="alert alert-error txtcntr"><p>El nuevo email no es valido.</p></div>
	{%  endif %}
	{% if status == 3 %}
		<div class="alert alert-error txtcntr"><p>El nombre de usuario ya existe.</p></div>
	{%  endif %}
	{% if status == 4 %}
		<div class="alert alert-success txtcntr"><p>Datos actualizados correctamente.</p></div>
	{%  endif %}
	{% if status == 5 %}
		<div class="alert alert-error txtcntr"><p>El nombre de usuario no es valido.</p></div>
	{%  endif %}
	{% if status == 6 %}
		<div class="alert alert-success txtcntr"><p>No es necesario actualizar los datos.</p></div>
	{%  endif %}
	{% if status == 7 %}
		<div class="alert alert-success txtcntr"><p>Felicidades por añadir tu tienda.</p></div>
	{%  endif %}
	{% if status == 8 %}
		<div class="alert alert-error txtcntr"><p>No puedes dejar campos en blanco.</p></div>
	{%  endif %}
	{% if status == 9 %}
		<div class="alert alert-error txtcntr"><p>El nombre de la tienda es incorrecto.</p></div>
	{%  endif %}
	{% if status == 10 %}
		<div class="alert alert-error txtcntr"><p>El telefono es incorrecto.</p></div>
	{%  endif %}
	{% if status == 11 %}
		<div class="alert alert-success txtcntr"><p>Felicidades por añadir un producto.</p></div>
	{%  endif %}
	{% if status == 12 %}
		<div class="alert alert-success txtcntr"><p>Producto elminado.</p></div>
	{%  endif %}
	{% if status == 13 %}
		<div class="alert alert-success txtcntr"><p>Tienda elminada.</p></div>
	{%  endif %}
{% endif %}