<div class="container">
	<form class="well form-horizontal" method="post" action="{{path('cview_principal_controlpanel_updateuser')}}">
	<div class="row-fluid">
	{# ShopkeeperName #}
		<div class="control-group span6">
    		<label class="control-label" for="inputShopkeeperName">Nombre</label>
    		<div class="controls">
    			<input id="inputShopkeeperName" name="name" type="text" value="{{ name }}" class="span11" readonly="true"/> 
    		</div>
    	</div>
   	{# Phone #}
		<div class="control-group span6">
    		
    		<label class="control-label" for="inputShopkeeperCif">Cif</label>
    		<div class="controls">
    		    <input id="inputShopkeeperCif" name="Cif" type="text" class="span12" maxlength="9" value="{{ cif }}" readonly="true" onKeyPress="return disableEnterKey(event)">		
    		</div>
    	</div>
    </div>
    <div class="row-fluid">
    	<div class="control-group span6">
    		<label class="control-label" for="inputShopkeeperEmail">Email</label>
    		<div class="controls">
    			<input id="inputShopkeeperEmail" name="Email" type="email" class="span11" value="{{ email }}" onKeyPress="return disableEnterKey(event)"> 
       		</div>
    	</div>
    	<div class="control-group span6">
    		<label class="control-label" for="inputShopkeeperNpswrd">Contraseña Nueva</label>
    		<div class="controls">
    			<input id="inputShopkeeperNpswrd" name="pswrd1" type="password" class="span12" maxlength="9" disabled="disabled" onKeyPress="return disableEnterKey(event)">
       		</div>
    	</div>
    </div>
    <div class="row-fluid">
    	<div id="cntrlAlias" class="control-group span6">
			<label class="control-label" for="inputShopkeeperUser">Usuario</label>
			<div class="controls">
				<input id="inputShopkeeperUser" name="Alias" class="span11" value="{{ Alias }}" type="text" maxlength="10" onKeyPress="return chckAlias(this);return disableEnterKey(event);"> 
				Entre 5 y 10 caracteres*
			</div>
		</div>
		<div class="control-group span6">
			<label class="control-label" for="inputShopkeeperRpswrd">Vuelve a escribirla</label>
			<div class="controls">
				<input id="inputShopkeeperRpswrd" name="pswrd2" class="span12" maxlength="9" type="password" disabled="disabled"/>
				<input type="checkbox" name="chckPswrd" onclick="chckinputs()" id="chckpswrd" value="false"/>Modifica la contraseña
			</div>
		</div>
    </div>
	
	<hr/>
	<div class="row-fluid">
		<div class="control-group warning">
		<label class="offset1 span4">Para asegurar los canvios escribe su antigua contraseña: en el input amarillo.</label>
		<div class="span2"></div>
		<input id="inputShopkeeperCnfrm" name="pswrd" class="span2" maxlength="10" type="password" onKeyPress="return chckSubmit(this)"/>
		</div>
    </div>
	
	<div class="row-fluid">
		<label class="offset1 span4">Si estás seguro que la información es correcta pulsa añadir</label>
		
		<div class="span2"></div>
		<input id="inputShopSubmit" type="submit" class="btn btn-success span2" value="Añadir" disabled="disabled"></input>
	</div>
	
	</form>
	<div class="row-fluid">
		{% include 'CviewPrincipalBundle:Status:status.html.twig' %}
	</div>
</div>